@font-face {
    font-family: 'BritannySignature';
    src: url('../assets/fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 696px;
    background-color: var(--white);
}

.img {
    display: flex;
    justify-content: right;
    margin-top: -1.5rem;
    overflow: hidden;

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--black);
    display: flex;
    flex-direction: column;
}

.text h1 {
    font-family: 'BritannySignature', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8rem;
    margin-right: 3.5rem;
}

.content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    margin-right: -2rem;

}

.content_text strong {
    color: var(--black);
    font-size: 7.5rem;
    font-weight: 400;
    font-style: inherit;


}

.content_text>span {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 400;
    font-style: inherit;

}

.color {
    color: var(--white);
}

@media screen and (max-width: 1020px) {
    .text h1 {
        font-size: 7rem;
        text-align: left;
        margin-left: -3.5rem;
    }

    .img {
        margin-right: -1rem;
    }
    
    .content_text strong {
        font-size: 6rem;
        margin-right: 18rem;
    }

    .content_text>span {
        margin-right: 17rem;
    
    }
}