@font-face {
    font-family: 'BritannySignature';
    src: url('../assets/fonts/BrittanySignature.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 674px;
    background-color: var(--black-600);
}

.img {
    display: flex;
    justify-content: right;
    margin-top: -1.4rem;
    overflow: hidden;

}

.text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    display: flex;
    flex-direction: column;
}

.text h1 {
    font-family: 'BritannySignature', sans-serif;
    font-weight: 400;
    width: 100%;
    font-style: normal;
    font-size: 8rem;
}

.content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    margin-right: -2rem;

}

.content_text strong {
    font-size: 7.5rem;
    font-weight: 400;
    font-style: inherit;
    width: 100%;


}

.content_text>span {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: inherit;
    width: 100%;

}

@media screen and (max-width: 768px) {



}