:root {
  --white: #ffffff;
  --black: #000000;
  --gray-300: #222222;  
  --black-600: #060606;
  --black-200: #868686;
  --hover-white: #c2c2c2;
  --hover-black: #3b3b3b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  -webkit-font-smoothing: antialiased;
}

body, a{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
}